
body {
margin: 0;
padding: 0;
font-family: Arial, sans-serif;
background: linear-gradient(135deg, #ffe6f0, #ca86a9);
overflow-x: hidden;
}

.heart {
position: fixed;
bottom: -50px;
font-size: 22px;
color: #ff69b4;
animation: floatUp 6s infinite ease-in;
opacity: 0.7;
}

@keyframes floatUp {
0% {
transform: translateY(0) scale(1);
opacity: 0;
}
50% {
opacity: 1;
}
100% {
transform: translateY(-100vh) scale(1.5);
opacity: 0;
}
}

.container {
max-width: 800px;
margin: 50px auto;
background: rgb(250, 160, 216);
padding: 30px;
border-radius: 20px;
box-shadow: 0 8px 20px rgba(187, 76, 141, 0.9);
animation: fadeIn 1.5s ease-in-out;
text-align: center;
}

@keyframes fadeIn {
from {
opacity: 0;
transform: translateY(30px);
}
to {
opacity: 1;
transform: translateY(0);
}
}

h1 {
color: rgb(184, 3, 117);
}

h2 {
color: rgb(248, 106, 177);
border-bottom: 2px dashed #ffb3d9;
padding-bottom: 5px;
text-align: left;
}

p, li {
color: #555;
font-size: 16px;
text-align: left;
}

.profile-pic {
width: 170px;
height: 170px;
border-radius: 50%;
border: 6px solid #ff99cc;
object-fit: cover;
object-position: center;
margin-bottom: 15px;
animation: bounce 2s infinite;
box-shadow: 0 6px 15px rgba(255, 105, 180, 0.4);
}

@keyframes bounce {
0%, 100% {
transform: translateY(0);
}
50% {
transform: translateY(-8px);
}
}

ul {
text-align: left;
}

footer {
margin-top: 30px;
font-size: 14px;
color: #ff66b2;
text-align: center;
}